{% block content %}
<!-- Modal -->
<div class="modal fade" id="modal_registro_clientes" tabindex="-1" role="dialog"
    aria-labelledby="modal_registro_clientesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_registro_clientesLabel">Registro de Nuevo Cliente <i
                        class="now-ui-icons users_single-02"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form class="form" action="{% url 'registro_cliente' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group ">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                            </div>
        
                        </div>
                        <div class="col-6">
                            <div class="form-group ">
                                <label for="Apellido">Apellido(s)</label>
                                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido(s)">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="date_birth">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="date_birth" name="date_birth" placeholder="Fecha de Nacimiento">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="date_birth">Genero</label>
                                <select class="form-control" id="genero" name="genero">
                                    <option disabled selected>Selecicone</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Direcci&oacute;n</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direcci&oacute;n">
                    </div>
                    <div class="form-group">
                        <label for="phone">N&uacute;mero de Telefono</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="N&uacute;mero de Telefono">

                    </div>
                    <input type="file" id="img_perfil" name="img_perfil">

                    <div class="form-group" align="center" enctype="multipart/form-data">
                        <video id="theVideo" controls autoplay></video>
                        <canvas id="theCanvas" name="theCanvas"></canvas>
                        <button type="button" class="btn btn-primary" id="btnCapture">Capture</button>
                        <button type="button" class="btn btn-primary" id="btnDownloadImage">Download captured image</button>
  
                      </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar <li class="now-ui-icons ui-1_simple-remove"></li></button>
                <button type="submit" class="btn btn-primary">Guardar <li class="now-ui-icons ui-1_check"></li></button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var videoWidth = 320;
    var videoHeight = 240;
    var videoTag = document.getElementById('theVideo');
    var canvasTag = document.getElementById('theCanvas');
    var btnCapture = document.getElementById("btnCapture");
    var file = document.getElementById("file");
    var btnDownloadImage = document.getElementById("btnDownloadImage");
    videoTag.setAttribute('width', videoWidth);
    videoTag.setAttribute('height', videoHeight);
    canvasTag.setAttribute('width', videoWidth);
    canvasTag.setAttribute('height', videoHeight);
    window.onload = () => {
        navigator.mediaDevices.getUserMedia({
            audio: false,
            video: {
                width: videoWidth,
                height: videoHeight
            }
        }).then(stream => {
            videoTag.srcObject = stream;
        }).catch(e => {
            document.getElementById('errorTxt').innerHTML = 'ERROR: ' + e.toString();
        });
        var canvasContext = canvasTag.getContext('2d');
        btnCapture.addEventListener("click", () => {
            canvasContext.drawImage(videoTag, 0, 0, videoWidth, videoHeight);
        });
        btnDownloadImage.addEventListener("click", () => {
            var link = document.createElement('a');
            link.download = 'capturedImage.png';
            link.href = canvasTag.toDataURL();
            //file.value = canvasTag.toDataURL()
            link.click()
        });
    };
  </script>
{% endblock %}