{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Now UI Dashboard by Creative Tim
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/now-ui-dashboard.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</head>

<body>
    {% block content %}
    <div class="container" onclick="javascript:window.print()">
        <div class="card">
            <div class="card-body text-center">
                <h4 style="font-family: 'Times New Roman', Times, serif;">GYM PRO</h4>
                <h5 class="card-title">Detalles del Pago</h>

                <div class="alert alert-warning" role="alert">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td>Tipo de Transacci&oacute;n: </td>
                                <td>{{pago.tipo}}</td>
                            </tr>
                            <tr>
                                <td>Monto:</td>
                                <td>{{pago.monto}}</td>
                            </tr>
                            <tr>
                                <td>Cliente: </td>
                                <td>{{usuario.name}} {{usuario.last_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>

            </div>
        </div>
    </div>

    {% endblock%}
</body>

</html>