<div class="sidebar" data-color="yellow">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          GYM PRO - 
            {{user.first_name}} {{user.last_name}}
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="{% url 'dashboard' %}">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="{% url 'usuario_list' %}">
              <i class="now-ui-icons users_circle-08"></i>
              <p>Control de usuarios</p>
            </a>
          </li>
          <li>
            <a href="{% url 'punto_venta' %}">
              <i class="now-ui-icons shopping_cart-simple"></i>
              <p>Punto de venta</p>
            </a>
          </li>
          {% if user.is_admin %}
            <li>
              <a href="{% url 'cierres_caja' %}">
                <i class="now-ui-icons ui-1_bell-53"></i>
                <p>Notifications</p>
              </a>
            </li>
          {% endif %}
          <li>
            <a href="{% url 'profile' %}">
              <i class="now-ui-icons users_single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a class="btn btn-secondary" href="{% url 'logout' %}">
              <i class="now-ui-icons sport_user-run"></i>
              <p>Cerrar Sesi&oacute;n</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
