{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="wrapper ">
    {% include 'includes/sidebar.html' %}
    <div class="main-panel" id="main-panel">
        <br>
        <div class="container"  >
            <div class="container" style="text-align:center; background-color: black;" >
                <h1 style="font-family: 'Times New Roman', Times, serif; color: #ffff00">GYM PRO</h1>
              </div>
            <div style="text-align:center;">
                <h2 style="font-family: 'Times New Roman', Times, serif;"> Detalles del Cliente</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <table class="table" align="center">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <img src="{{ usuario.photo.url }}" width="200" height="200" style="border-radius:100px"/>
                                    </td>
                                    <td>
                                        <h2 style="font-family: 'Times New Roman', Times, serif;">{{usuario.name}} {{usuario.last_name}}</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <table class="table table-striped table-dark">
                                        <thead align="center">
                                            <th>Id</th>
                                            <th>Fecha de Nacimiento</th>
                                            <th>Edad</th>
                                            <th>Genero</th>
                                            <th>Estado de Membresia</th>
                                        </thead>
                                        <tbody align="center">
                                            <tr>
                                                <td>{{ usuario.pk }}</td>
                                                <td>{{ usuario.birth_date }}</td>
                                                <td>{{ usuario.age }}</td>
                                                <td>
                                                    {% if usuario.genero == 'M'%}
                                                        Masculino
                                                    {% else %}
                                                        Femenino
                                                    {% endif %}
                                                </td>
                                                {% if usuario.is_active %}
                                                    <td><i class="now-ui-icons ui-1_check"></i></td>
                                                {% else %}
                                                    <td><i class="now-ui-icons ui-1_simple-remove"></i></td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- terminanos la seccion de información Básica -->

            <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Registro de Aasistencias</h5>
                        {% if asistencias_count > 0 %}
                            
                            <table class="table table-hover table-warning ">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asistencia in asistencias %}
                                        <tr>
                                            <td>{{ asistencia.assist_date.date }}</td>
                                            <td>{{ asistencia.assist_date.time }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                                
                            
                        {% else %}
                            No hay Asistencias para Mostrar
                        {% endif %}
                        

                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Registro de Pagos</h5>
                      {% if pagos_count > 0 %}
                            {% for pago in pagos %}
                            <table class="table table-hover table-warning ">
                                <thead>
                                    <tr>
                                        <th>Tipo de pago</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ pago.tipo_pago.tipo }}</td>
                                        <td>{{ pago.tipo_pago.monto }}</td>
                                    </tr>
                                </tbody>
                            </table>
                                
                            {% endfor %}
                        {% else %}
                            No hay Pagos para Mostrar
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            

        </div>

    </div>

{% endblock %}