{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="wrapper">
        {% include 'includes/sidebar.html' %}
        <div class="main-panel" id="main-panel">
            <div class="panel-header">
                <div class="header text-center">
                    <h1 style="font-family: 'Times New Roman', Times, serif; color: #ffff00">GYM PRO</h1>
                </div>
              </div>
              <div class="content">
                <div class="card">
                    <div class="row no-gutters">
                      <aside class="col-md-6">
                        <article class="gallery-wrap">
                          <div class="img-big-wrap">
                            <a href="#"><img src="{{single_product.images.url}}"></a>
                          </div> <!-- img-big-wrap.// -->
              
                        </article> <!-- gallery-wrap .end// -->
                      </aside>
                      <main class="col-md-6 border-left">
              
              
                        <form action="{% url 'add_cart' single_product.id %}" method="POST">
                          {% csrf_token %}

                          <article class="content-body">
                              <br>
                              <table class="table text-center table-hover">
                                <thead>
                                  <tr>
                                    <th colspan="2"><h4>{{single_product.product_name}}</h4></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Precio:</td>
                                    <td>${{single_product.price}}</td>
                                  </tr>
                                  <tr>
                                    <td>Descripcion:</td>
                                    <td>{{single_product.description}}</td>
                                  </tr>
                                  <tr>
                                    <td>Stock:</td>
                                    <td>{{single_product.stock}}</td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">
                                        
                                        {% if single_product.stock <= 0 %}
                                          <h5>Producto Fuera de Stock</h5>
                                        {% else %}
                                            <button type="submit" class="btn  btn-primary"> <span class="text">Agregar Carrito</span> <i class="fas fa-shopping-cart"></i> </button>
                                        {% endif %}

                                    </td>
                                  </tr>
                                </tbody>
                              </table>
              
                            <hr>
              
                          </article> <!-- product-info-aside .// -->
                        </form>
                      </main> <!-- col.// -->
                    </div> <!-- row.// -->
                  </div> <!-- card.// -->
            </div>
    
        </div>
</div>
{% endblock %}